@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600&amp;subset=latin-ext,vietnamese');
html, body {
  background-color: #1a1a1a !important;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, .title, h1, h2, h3, h4, h5, h6, p {
  color: white !important;
}

h2 {
  font-size: 2em;
  line-height: 2.4;
}
h3 {
  font-size: 1.5em;
  line-height: 2;
}
p {
  line-height: 1.7;
}
.title {
  font-size: 3em;
}