<site-layout>
  <@title>SheCodes Blog</@title>
  <@content>
    <section>
      <h2>Xin chào</h2>
      <small> Chào mừng bạn đến blog của SheCodes. Bạn có bài viết hay muốn chia sẻ? P.M ngay fb.com/quangltm
      </small>
      <h3>Danh sách blog</h3>
      <p>
        <a href="getting-started-with-fuse">Làm app thời tiết với Fuse (Part 1)</a>
      </p>
    </section>

  </@content>
</site-layout>
